<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>🌾 किसान मित्र 🌾</h1>

<p>
    <strong id="sensor-status" class = "sensor-status">{{ sensor_update }}</strong>
</p>
<div class="sensor-metrics">

    <div class="sensor-card">
        <span>🧪 Soil pH</span>
        <strong id="sensor-ph">--</strong>
    </div>

    <div class="sensor-card">
        <span>💧 Moisture</span>
        <strong id="sensor-moisture">--</strong>
    </div>

</div>
<form method="POST" action="/">
<div class="analysis-card">

    <h2>🌱 मिट्टी का विश्लेषण</h2>

    <label>क्षेत्रफल (एकड़):</label>

    <input
        type="number"
        name="area"
        step="0.00001"
        min="0.0001"
        required
    >

    <div class="input-actions">
        <button type="button" onclick="showManual()">
            ✏️ स्वयं मान दर्ज करें
        </button>

        <button type="submit" name="mode" value="sensor">
            📡 सेंसर से जानकारी लें
        </button>
    </div>
    <div id="manual-fields" style="display:none;">

    <h3>✏️ मैनुअल मिट्टी डेटा</h3>

    <div class="manual-inputs">

        <div>
            <label>मिट्टी का pH:</label>
            <input
                type="number"
                step="0.1"
                min="0"
                max="14"
                name="ph"
            >
        </div>

        <div>
            <label>नमी (%):</label>
            <input
                type="number"
                step="0.1"
                min="0"
                max="100"
                name="moisture"
            >
        </div>

    </div>

    <button type="submit" name="mode" value="manual">
        परिणाम देखें
    </button>

</div>

</form>

{% if best_crop %}

<div class="crop-recommendation">

    <div class="crop-label">
        🌱 अनुशंसित फसल
    </div>

    <h1>{{ best_crop }}</h1>

    <div class="success-rate">
        📊 सफलता की संभावना
        <strong>{{ success_rate }}</strong>
    </div>

    <div class="suggestion">
        💡 {{ suggestion }}
    </div>

    <hr>

   <div class="result-stats">

    <div class="stat-card">
        <span>🌿 मिट्टी की स्थिति</span>
        <strong>{{ check_soil }}</strong>
    </div>

    <div class="stat-card">
        <span>🌾 आवश्यक बीज</span>
        <strong>{{ seed_required }} kg</strong>
    </div>

    <div class="stat-card">
        <span>📦 अनुमानित उत्पादन</span>
        <strong>{{ expected_yield }} क्विंटल</strong>
    </div>

    <div class="stat-card">
        <span>💰 अनुमानित आय</span>
        <strong>₹{{ revenue }}</strong>
    </div>

    <div class="stat-card">
        <span>💸 अनुमानित लागत</span>
        <strong>₹{{ cost }}</strong>
    </div>

    <div class="stat-card">
        <span>🏆 अनुमानित लाभ</span>
        <strong>₹{{ profit }}</strong>
    </div>

</div>
<hr>

    <div class="another-crop">

    <h3>🔍 क्या आप दूसरी फसल की जाँच करना चाहते हैं?</h3>
        <form method="POST" action="/check-crop">

    <input
        type="hidden"
        name="ph"
        value="{{ ph }}"
    >

    <input
        type="hidden"
        name="moisture"
        value="{{ moisture }}"
    >

    <input
        type="hidden"
        name="area"
        value="{{ area }}"
    >
    <div class="crop-selector">

        <select name="crop_name" required>

            <option value="">
                -- फसल चुनें --
            </option>

            <option value="rice">🌾 Rice</option>
            <option value="bajra">🌾 Bajra</option>
            <option value="wheat">🌾 Wheat</option>
            <option value="mustard">🌼 Mustard</option>
            <option value="gram">🫘 Gram</option>

        </select>

        <button type="submit">
            🔍 इस फसल को जाँचें
        </button>

    </div>

</div>

</form>
</div>

{% endif %}
<button type="button" onclick="showGraphs()">
    📊 ग्राफ देखें
</button>
<div id="graphs" style="display:none;">
    <div class="graphs-header">
    <h2>📊 मिट्टी का इतिहास</h2>
    <p>समय के साथ pH और नमी में बदलाव देखें</p>
    </div>
    <div class="graph-container">
        <h2>🧪 pH का इतिहास</h2>
        <canvas id="ph-chart"></canvas>
    </div>

    <div class="graph-container">
        <h2>💧 मिट्टी की नमी का इतिहास</h2>
        <canvas id="moisture-chart"></canvas>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
let phChart = null;
let graphInterval = null;
let moistureChart= null;
function showManual() {
    const div = document.getElementById("manual-fields");

    if (div.style.display === "none")
        div.style.display = "block";
    else
        div.style.display = "none";
}
async function updateSensor() {
    try {
        const response = await fetch("/sensor");

        if (!response.ok) {
            throw new Error("Sensor request failed");
        }

        const data = await response.json();

        const phElement = document.getElementById("sensor-ph");
        const moistureElement = document.getElementById("sensor-moisture");
        const statusElement = document.getElementById("sensor-status");
        statusElement.classList.remove("disconnected");
        statusElement.classList.add("connected");

        if (data.status === "✅ Sensor Connected") {

            phElement.textContent = Number(data.ph).toFixed(2);
            moistureElement.textContent =
                Number(data.moisture).toFixed(1) + "%";

            statusElement.textContent = data.status;

        } else {

            phElement.textContent = "--";
            moistureElement.textContent = "--";

            statusElement.textContent = data.status;
            statusElement.classList.remove("connected");
            statusElement.classList.add("disconnected");
        }

    } catch (error) {

       const statusElement = document.getElementById("sensor-status");

        statusElement.textContent = "❌ Sensor Not Connected";

        statusElement.classList.remove("connected");
        statusElement.classList.add("disconnected");
    }
}

updateSensor();

setInterval(updateSensor, 1000);
async function loadGraphData() {

    try {

        const response = await fetch("/sensor-history");

        if (!response.ok) {
            throw new Error("Could not fetch sensor history");
        }

        const history = await response.json();
        const times = history.map(reading => reading.time);

        const phValues = history.map(reading => reading.ph);

        const moistureValues = history.map(reading => reading.moisture);
        const phCanvas = document.getElementById("ph-chart");
        const moistureCanvas = document.getElementById("moisture-chart");

        if (phChart === null) {

        phChart = new Chart(phCanvas, {
            type: "line",

            data: {
                labels: times,

                datasets: [{
                    label: "pH",
                    data: phValues,
                    fill: true,
                    pointRadius: 3,
                    pointHoverRadius: 6,
                    tension: 0.3
                }]
            },

            options: {
    responsive: true,

    interaction: {
        intersect: false,
        mode: "index"
    },

    plugins: {
        legend: {
            display: true
        },

        tooltip: {
            callbacks: {
                label: function(context) {
                    return "pH: " + context.parsed.y.toFixed(2);
                }
            }
        }
    },

    scales: {
        y: {
            min: 0,
            max: 14,

            title: {
                display: true,
                text: "pH"
            }
        },

        x: {
            title: {
                display: true,
                text: "समय"
            }
        }
    }
}
        });

    } else {

        phChart.data.labels = times;
        phChart.data.datasets[0].data = phValues;

        phChart.update();
    }
    if (moistureChart === null) {

    moistureChart = new Chart(moistureCanvas, {
        type: "line",

        data: {
            labels: times,

            datasets: [{
                label: "मिट्टी की नमी (%)",
                data: moistureValues,
                tension: 0.3,
                fill: true,
                pointRadius: 3,
                pointHoverRadius: 6
            }]
        },

        options: {
            responsive: true,

            interaction: {
                intersect: false,
                mode: "index"
            },

            plugins: {
                legend: {
                    display: true
                },

                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return "नमी: " + context.parsed.y.toFixed(1) + "%";
                        }
                    }
                }
            },

            scales: {
                y: {
                    min: 0,
                    max: 100,

                    title: {
                        display: true,
                        text: "नमी (%)"
                    }
                },

                x: {
                    title: {
                        display: true,
                        text: "समय"
                    }
                }
            }
        }
    });

} else {

    moistureChart.data.labels = times;
    moistureChart.data.datasets[0].data = moistureValues;

    moistureChart.update();
}
        console.log("Times:", times);
        console.log("pH:", phValues);
        console.log("Moisture:", moistureValues);
        console.log("📊 Sensor History:", history);

    } catch (error) {

        console.error("❌ Graph data error:", error);

    }
}
function showGraphs() {

    const graphs = document.getElementById("graphs");

    graphs.style.display = "block";

    loadGraphData();

    if (graphInterval === null) {
        graphInterval = setInterval(loadGraphData, 2000);
    }
}
</script>

</body>
</html>